<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIVINO SABOR - HOME</title>
    <link rel="stylesheet" href="../static/CSS/homeIndex.css">
    <script src="../static/JS/homeIndex.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">

        <div class="header">
            <nav>
                <img src="../static/IMAGES/rest_logo.png" alt="" draggable="false">
                <h2>
                    <pre>
    RESTAURANTE 
        𝓓𝓲𝓿𝓲𝓷𝓸 𝓢𝓪𝓫𝓸𝓻
                </pre>
                </h2>

                <div class="log">
                    <button id="Login" class="NavButtonLog">Login</button>
                    <button id="CreateAccount" class="NavButtonLog">Criar Conta</button>
                </div>
            </nav>
            <header>
                <img src="../static/IMAGES/download.jpeg" alt="" draggable="false">
                <h1 id="hh1">Bem Vindo!</h1>
            </header>
        </div>

        <div class="BoxInfo">
            <h1 class="SectionTitle">CONHEÇA NOSSAS ESPECIALIDADES!</h1>
            <div class="info">
                <div class="flex">info 1</div>
                <div class="flex">info 2</div>
                <div class="flex">info 3</div>
                <div class="flex">info 4</div>
            </div>
        </div>


        <div class="foodsMenus">
            <h1 class="SectionTitle">CONHEÇA ALGUNS DE NOSSOS PRATOS!</h1>
            <div class="pratos">
                <div class="flex">Prato 1</div>
                <div class="flex">Prato 2</div>
                <div class="flex">Prato 3</div>
                <div class="flex">Prato 4</div>
                <div class="flex">Prato 5</div>
            </div>
        </div>

        <div class="about">
            <p>asdasd</p>
        </div>

        <footer>
            <p>Repositório Git: <a href="">aaaaaaa</a></p>
        </footer>
    </div>
</body>

</html>