<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/login.css">
    <title>DIVINO SABOR - LOGIN</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <img src="../static/IMAGES/rest_logo.png" alt="" draggable="false">
                <h2>
                    <pre>
    RESTAURANTE 
        𝓓𝓲𝓿𝓲𝓷𝓸 𝓢𝓪𝓫𝓸𝓻
                </pre>
                </h2>

                <div class="log">
                    <button id="Login" class="NavButtonLog">Login</button>
                    <button id="CreateAccount" class="NavButtonLog">Criar Conta</button>
                </div>
            </nav>
        </div>

        <div class="login">
            <label for="Email">Email</label>
            <input type="email" name="email" id="email">

            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha">
        </div>
    </div>
</body>

</html>