:root {
    --navbar-bgc: linear-gradient(-90deg, rgba(38, 0, 0, 1) 0%, rgba(77, 33, 33, 1) 29%, rgba(255, 255, 255, 1) 84%);
    --pre-color: linear-gradient(90deg, rgba(64, 23, 23, 1) 0%, rgba(115, 70, 70, 1) 50%, rgba(153, 118, 118, 1) 100%);
    --box-shadow: 3px 20px 20px rgb(34, 32, 32);
    --hover-text-color: grey;
}

body {
    padding: 0%;
    margin: 0%;
}

header {
    position: relative;
}

header img {
    margin-top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
    box-shadow: var(--box-shadow);
}

#hh1 {
    user-select: none;
    position: relative;
    color: white;
    top: -375px;
    z-index: 2;
    font-size: 50px;

}

@keyframes translateHeaderText {
    0% {
        left: 0;
    }

    50% {
        left: 25vw;
    }

    100% {
        left: 50%;
    }
}

pre {
    margin-top: -1px;
    background: var(--pre-color);
    background-clip: text;
    color: transparent;
}

nav {
    user-select: none;
    background: #260000;
    background: var(--navbar-bgc);
    box-shadow: var(--box-shadow);

    width: 100vw;
    height: 80px;

    position: fixed;
    display: flex;

    z-index: 3;
}

nav button {
    height: 20px;
}

.NavButtonLog {
    border-radius: 7px;
    cursor: pointer;
}

#Login {
    position: relative;
    right: -500px;
    border: none;
    background: transparent;
    color: white;
}

#CreateAccount {
    margin-left: 300px;
    color: white;
    background: transparent;
    border: 1px solid white;
    transition: 0.5s;
}

#CreateAccount:hover {
    color: var(--hover-text-color);
}

nav img {
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.info {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.info>div {
    width: 300px;
    height: 300px;
    background-color: rgb(245, 245, 245);
    margin: 20px;
}

.flex {
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgb(68, 30, 30);
    transition: 0.7s;
}

.flex:hover {
    transform: translateY(-15px);
    box-shadow: 0px 3px 5px;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    margin-top: 100px;
    height: 130px;
    background-color: rgb(43, 43, 43);
    color: white;
    text-align: center;
}

.SectionTitle {
    margin-top: 130px;
    text-align: center;
    font: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.foodsMenus {
    height: 400px;
    margin-top: 200px;
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(196, 196, 196, 1) 32%, rgba(161, 161, 161, 1) 59%, rgba(255, 255, 255, 1) 100%);
}

.pratos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pratos>div {
    width: 150px;
    height: 150px;
    background-color: rgb(245, 245, 245);
    margin: 20px;
}