<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/Style/404.css">
    <link rel="stylesheet" href="../static/CSS/MediaKeyFrame/homeIndex.css">
    <link rel="shortcut icon" href="../static/IMAGES/HEADER E LOGIN/restIcone.png" type="image/x-icon">
    <script async src="../static/JS/homeIndex.js"></script>
    <title>PÁGINA NÃO ENCONTRADA</title>
</head>

<body>
    <div class="container">
        <nav>
            <img src="../static/IMAGES/HEADER E LOGIN/rest_logo.png" alt="" draggable="false">
            <div class="header">
                <h2>
                    <pre>
    <span id="RESTAURANTE">RESTAURANTE</span> 
        <span id="SEA">Sabor & Amor</span>
                </pre>
                </h2>
            </div>

            <div class="navbarRestSide">
                <a id="Login" class="NavButtonLog" href="{{'url_for(login)'}}">Login</a>
                <a id="CreateAccount" class="NavButtonLog" href="{{'url_for(createAccount)'}}">Criar Conta</a>

                <div class="responsiveMenuSideBar">
                    <div class="sidenav">
                        <a href="javascript:void(0)" class="closebtn">&times;</a>
                        <a id="sideLogin" class="sideNavButtonLog" href="{{'url_for(login)'}}">Login</a>
                        <a id="sideCreateAccount" class="sideNavButtonLog" href="{{'url_for(createAccount)'}}">Criar
                            Conta</a>
                    </div>

                    <div class="menu">
                        <div class="menuBar"></div>
                        <div class="menuBar"></div>
                        <div class="menuBar"></div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="errorTreatment">
            <h1>OOOPS...</h1>
            <h3>Esta página não existe, confira a URL e tente novamente</h3>
        </div>
    </div>

    <script>
        function embedGlobalScope() {
            function Index() {
                this.start = () => {
                    this.buttonPressImage()
                }

                this.buttonPressImage = () => {
                    window.addEventListener('click', (e) => {
                        if (e.target.classList.contains('header') || e.target.classList.contains('headerIMG')) {
                            window.location.href = "{{ url_for('main') }}"
                        }
                    })
                }
            }

            const render = new Index()
            render.start()
        }
        embedGlobalScope()
    </script>
</body>

</html>