<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/Style/login.css">
    <link rel="stylesheet" href="../static/CSS/MediaKeyFrame/homeIndex.css">
    <link rel="shortcut icon" href="../static/IMAGES/HEADER E LOGIN/restIcone.png" type="image/x-icon">
    <script src="../static/JS/homeIndex.js"></script>
    <title>SABOR & AMOR - LOGIN</title>
</head>

<body>
    <div class="container">
        <nav>
            <img class="headerIMG" src="../static/IMAGES/HEADER E LOGIN/rest_logo.png" alt="">

            <div class="header">
                <h2>
                    <pre>
    <span id="RESTAURANTE">RESTAURANTE</span> 
        <span id="SEA">Sabor & Amor</span>
                </pre>
                </h2>
            </div>

            <div class="navbarRestSide">
                <a id="Login" class="NavButtonLog" href="{{ url_for('login') }}">Login</a>
                <a id="CreateAccount" class="NavButtonLog" href="{{ url_for('createAccount') }}">Criar Conta</a>

                <div class="responsiveMenuSideBar">
                    <div class="sidenav">
                        <a href="javascript:void(0)" class="closebtn">&times;</a>
                        <a id="sideLogin" class="sideNavButtonLog" href="{{ url_for('login') }}">Login</a>
                        <a id="sideCreateAccount" class="sideNavButtonLog" href="{{ url_for('createAccount') }}">Criar
                            Conta</a>
                    </div>

                    <div class="menu">
                        <div class="menuBar"></div>
                        <div class="menuBar"></div>
                        <div class="menuBar"></div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="LoginInputs">

            <img src="../static/IMAGES/HEADER E LOGIN/restauranteLogin.jpg" alt="">

            <div class="formLogin">
                <form action="{{ url_for('createAccount') }}" method="POST">

                    <!-- MENSAGEM DE ERRO CASO TENTE CRIAR UMA CONTA COM UM EMAIL JA CADASTRADO NO DB -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div class="mensagens">
                        {% for categoria, mensagem in messages %}
                        <p class="{{ categoria }}">{{ mensagem }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}

                    <h1>CRIE SUA CONTA</h1>

                    <div class="inputGroup">
                        <input type="text" class="inputText" required name="nome">
                        <label class="labelTranslate">Nome</label>
                    </div>

                    <div class="inputGroup">
                        <input type="email" class="inputText" required name="email">
                        <label class="labelTranslate">Email</label>
                    </div>

                    <div class="inputGroup">
                        <input type="password" class="inputText" required name="senha">
                        <label class="labelTranslate">Senha</label>
                    </div>

                    <input class="submit" type="submit" value="Confirmar">

                    Já possui uma conta? <a href="{{ url_for('login') }}">Clique aqui!</a>
                </form>
            </div>
        </div>
    </div>

    <script>
        function embedGlobalScope() {
            function Index() {
                this.start = () => {
                    this.buttonPressImage()
                }

                this.buttonPressImage = () => {
                    window.addEventListener('click', (e) => {
                        if (e.target.classList.contains('header') || e.target.classList.contains('headerIMG')) {
                            window.location.href = "{{ url_for('main') }}"
                        }
                    })
                }
            }

            const render = new Index()
            render.start()
        }
        embedGlobalScope()
    </script>
</body>

</html>