<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SABOR & AMOR - HOME</title>
    <link rel="stylesheet" href="../static/CSS/Style/homeIndex.css">
    <link rel="stylesheet" href="../static/CSS/MediaKeyFrame/homeIndex.css">
    <link rel="shortcut icon" href="../static/IMAGES/restIcone.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav>
            <img src="../static/IMAGES/rest_logo.png" alt="" draggable="false">
            <div class="header">
                <h2>
                    <pre>
    <span id="RESTAURANTE">RESTAURANTE</span> 
        <span id="SEA">Sabor & Amor</span>
                </pre>
                </h2>
            </div>

            <div class="navbarRestSide">
                <a id="Login" class="NavButtonLog" href="{{'url_for(main)'}}">Login</a>
                <a id="CreateAccount" class="NavButtonLog" href="{{'url_for(main)'}}">Criar Conta</a>

                <div class="responsiveMenuSideBar">
                    <div class="sidenav">
                        <a href="javascript:void(0)" class="closebtn">&times;</a>
                        <a id="sideLogin" class="sideNavButtonLog" href="{{'url_for(main)'}}">Login</a>
                        <a id="sideCreateAccount" class="sideNavButtonLog" href="{{'url_for(main)'}}">Criar Conta</a>
                    </div>

                    <div class="menu">
                        <div class="menuBar"></div>
                        <div class="menuBar"></div>
                        <div class="menuBar"></div>
                    </div>
                </div>
            </div>


        </nav>

        <header>
            <img src="../static/IMAGES/download.jpeg" alt="" draggable="false">
            <h1 id="hh1">Bem Vindo!</h1>

        </header>
    </div>

    <div class="BoxInfo">
        <h1 class="SectionTitle">CONHEÇA NOSSAS ESPECIALIDADES!</h1>
        <div class="info">
            <div class="flex">info 1</div>
            <div class="flex">info 2</div>
            <div class="flex">info 3</div>
            <div class="flex">info 4</div>
        </div>
    </div>


    <div class="foodsMenus">
        <h1 class="SectionTitle">CONHEÇA ALGUNS DE NOSSOS PRATOS!</h1>
        <div class="pratos">
            <div class="flex">Prato 1</div>
            <div class="flex">Prato 2</div>
            <div class="flex">Prato 3</div>
            <div class="flex">Prato 4</div>
            <div class="flex">Prato 5</div>
        </div>
    </div>

    <div class="about">
        <p>SOBRE O RESTAURANTE</p>
    </div>

    <footer>
        <p>Repositório Git: <a href="">aaaaaaa</a></p>
    </footer>
    </div>

    <script src="../static/JS/homeIndex.js"></script>
</body>

</html>