<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/Style/login.css">
    <link rel="stylesheet" href="../static/CSS/MediaKeyFrame/homeIndex.css">
    <link rel="shortcut icon" href="../static/IMAGES/restIcone.png" type="image/x-icon">
    <title>SABOR & AMOR - LOGIN</title>
</head>

<body>
    <div class="container">
        <nav>
            <img src="../static/IMAGES/rest_logo.png" alt="" draggable="false">
            <div class="header">
                <h2>
                    <pre>
    <span id="RESTAURANTE">RESTAURANTE</span> 
        <span id="SEA">Sabor & Amor</span>
                </pre>
                </h2>
            </div>

            <div class="navbarRestSide">
                <a id="Login" class="NavButtonLog" href="{{'url_for(main)'}}">Login</a>
                <a id="CreateAccount" class="NavButtonLog" href="{{'url_for(main)'}}">Criar Conta</a>

                <div class="responsiveMenuSideBar">
                    <div class="sidenav">
                        <a href="javascript:void(0)" class="closebtn">&times;</a>
                        <a id="sideLogin" class="sideNavButtonLog" href="{{'url_for(main)'}}">Login</a>
                        <a id="sideCreateAccount" class="sideNavButtonLog" href="{{'url_for(main)'}}">Criar Conta</a>
                    </div>

                    <div class="menu">
                        <div class="menuBar"></div>
                        <div class="menuBar"></div>
                        <div class="menuBar"></div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="LoginInputs">

            <div class="teste">
                <img src="../static/IMAGES/restauranteLogin.jpg" alt="">
                <form action="">
                    <label for="Email">Email</label>
                    <input type="email" name="email" id="email">

                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha">

                    <input type="submit" value="Confirmar">

                    Não possui uma conta? <a href="">Clique aqui!</a>
                </form>
            </div>
        </div>
    </div>
    <script src="../static/JS/homeIndex.js"></script>
</body>

</html>