<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Style/createStock.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/MediaKeyFrame/homeIndex.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='IMAGES/HEADER E LOGIN/restIcone.png') }}"
        type="image/x-icon">
    <script src="{{ url_for('static', filename='JS/homeIndex.js') }}"></script>
    <title>SABOR & AMOR - ADICOINAR ESTOQUE</title>
</head>

<body>
    <div class="container">
        <nav>
            <img src="{{ url_for('static', filename='IMAGES/HEADER E LOGIN/rest_logo.png') }}">

            <div class="header">
                <h2>
                    <pre>
    <span id="RESTAURANTE">RESTAURANTE</span> 
        <span id="SEA">Sabor & Amor</span>
                </pre>
                </h2>
            </div>

            <div class="navbarRestSide">
                <a id="return" class="NavButtonLog" href="{{ url_for('decision') }}">Tela Inicial</a>
                <a id="deslog" class="NavButtonLog" href="{{ url_for('main') }}">Desconectar</a>

                <div class="responsiveMenuSideBar">
                    <div class="sidenav">
                        <a href="javascript:void(0)" class="closebtn">&times;</a>
                        <a id="sideDeslog" class="sideNavButtonLog" href="{{ url_for('main') }}">Desconectar</a>
                        <a id="sideReturn" class="NavButtonLog" href="{{ url_for('decision') }}">Tela Inicial</a>
                    </div>

                    <div class="menu">
                        <div class="menuBar"></div>
                        <div class="menuBar"></div>
                        <div class="menuBar"></div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="espace"></div>

    <div class="createItenStock">
        Para alterar itens do estoque, <a href="{{ url_for('create_stock') }}">Clique Aqui!</a>

        <h2>COLOQUE NOS CAMPOS ABAIXO AS INFORMAÇÕES PARA O ESTOQUE</h2>
    </div>

    <div class="formStockCreate">
        <form action="{{ url_for('update_stock', id=item.Ingrediente_id) }}" method="POST">

            <div class="inputGroup">
                <label for="nome">Nome</label>
                <input type="text" name="nome" value="{{ item.Ingrediente_nome }}">
            </div>

            <div class="inputGroup">
                <label for="quantidade">Quantidade</label>
                <input type="number" name="quantidade" value="{{ item.Ingrediente_qtd }}">
            </div>

            <div class="inputGroup extra">
                <label for="medida">Unidade de medida</label>
                <select name="medida">
                    <option value="KG" {% if item.Ingrediente_un_medida=='KG' %}selected{% endif %}>KG</option>
                    <option value="LITRO" {% if item.Ingrediente_un_medida=='LITRO' %}selected{% endif %}>LITRO</option>
                </select>
            </div>

            <div class="inputGroup extra">
                <input id="submit" type="submit" value="Confirmar">
            </div>
        </form>
    </div>



    <script>
        function embedGlobalScope() {
            function Index() {
                this.start = () => {
                    this.buttonPressImage()
                }

                this.buttonPressImage = () => {
                    window.addEventListener('click', (e) => {
                        if (e.target.classList.contains('header') || e.target.classList.contains('headerIMG')) {
                            window.location.href = "{{ url_for('main') }}"
                        }
                    })
                }
            }

            const render = new Index()
            render.start()
        }
        embedGlobalScope()
    </script>
</body>

</html>