<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/Style/homeIndex.css">
    <link rel="stylesheet" href="../static/CSS/MediaKeyFrame/homeIndex.css">
    <link rel="shortcut icon" href="../static/IMAGES/HEADER E LOGIN/restIcone.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <script src="../static/JS/homeIndex.js"></script>
    <script src="../static/JS/animationLoad.js"></script>

    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>
    <nav>
        <img id="headerIMG" src="../static/IMAGES/HEADER E LOGIN/rest_logo.png" alt="">
        <div class="header">
            <h2>
                <pre>
    <span id="RESTAURANTE">RESTAURANTE</span> 
        <span id="SEA">Sabor & Amor</span>
                </pre>
            </h2>
        </div>

        <div class="navbarRestSide">
            <a id="Login" class="NavButtonLog" href="{{ url_for('auth.login') }}">Login</a>
            <a id="CreateAccount" class="NavButtonLog" href="{{ url_for('auth.createAccount') }}">Criar Conta</a>

            <div class="responsiveMenuSideBar">
                <div class="sidenav">
                    <a href="javascript:void(0)" class="closebtn">&times;</a>
                    <a id="sideLogin" class="sideNavButtonLog" href="{{ url_for('auth.login') }}">Login</a>
                    <a id="sideCreateAccount" class="sideNavButtonLog" href="{{ url_for('auth.createAccount') }}">Criar
                        Conta</a>
                </div>

                <div class="menu">
                    <div class="menuBar"></div>
                    <div class="menuBar"></div>
                    <div class="menuBar"></div>
                </div>
            </div>
        </div>

    </nav>

    <div class="espace"></div>

    {% block content %}
    {% endblock %}

    <script>
        function embedGlobalScope() {
            function Index() {
                this.start = () => {
                    this.buttonPressImage();
                    this.showHidePassword();
                };

                this.buttonPressImage = () => {
                    window.addEventListener('click', (e) => {
                        if (e.target.classList.contains('header') ||
                            e.target.classList.contains('headerIMG')) {
                            window.location.href = "{{ url_for('main.main') }}";
                        }
                    });
                };

                this.showHidePassword = () => {
                    const buttonShowHide = document.querySelector('#togglePassword')
                    buttonShowHide.addEventListener("click", () => {
                        const input = document.querySelector("input[name='senha']");
                        const type = input.type === "password" ? "text" : "password";
                        input.type = type;

                        buttonShowHide.classList.toggle("fa-eye");
                        buttonShowHide.classList.toggle("fa-eye-slash");
                    });
                }
            }

            const render = new Index();
            render.start();
        }
        embedGlobalScope();
    </script>

</body>

</html>