{% extends "baseDeslogado.html" %}
{% block title %}SABOR & AMOR - CRIAR CONTA {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Style/auth.css') }}">
{% endblock %}

    {% block content %}
    <div class="LoginInputs">

        <img src="../static/IMAGES/HEADER E LOGIN/restauranteLogin.jpg" alt="">

        <div class="formLogin">
            <form action="{{ url_for('auth.createAccount') }}" method="POST">

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="mensagens">
                    {% for categoria, mensagem in messages %}
                    <p class="{{ categoria }}">{{ mensagem }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}

                <h1>CRIE SUA CONTA</h1>

                <div class="inputGroup">
                    <input type="text" class="inputText" required name="nome">
                    <label class="labelTranslate">Nome</label>
                </div>

                <div class="inputGroup">
                    <input type="email" class="inputText" required name="email">
                    <label class="labelTranslate">Email</label>
                </div>

                <div class="inputGroup">
                    <input type="password" class="inputText" required name="senha">
                    <label class="labelTranslate">Senha</label>
                </div>

                <input class="submit" type="submit" value="Confirmar">

                Já possui uma conta?
                <a href="{{ url_for('auth.login') }}">Clique aqui!</a>
            </form>
        </div>
    </div>
</div>
    {% endblock %}

</body>

</html>
