<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Style/createStock.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/MediaKeyFrame/homeIndex.css') }}">

    <!-- ICON -->
    <link rel="shortcut icon"
        href="{{ url_for('static', filename='IMAGES/HEADER E LOGIN/restIcone.png') }}"
        type="image/x-icon">

    <!-- JS -->
    <script src="{{ url_for('static', filename='JS/homeIndex.js') }}"></script>

    <title>SABOR & AMOR - ADICIONAR ESTOQUE</title>
</head>

<body>
    <div class="container">
        <nav>
            <img class="headerIMG"
                 src="{{ url_for('static', filename='IMAGES/HEADER E LOGIN/rest_logo.png') }}" alt="Logo">

            <div class="header">
                <h2>
                    <pre>
    <span id="RESTAURANTE">RESTAURANTE</span>
        <span id="SEA">Sabor & Amor</span>
                    </pre>
                </h2>
            </div>

            <div class="navbarRestSide">
                <a id="return" class="NavButtonLog"
                    href="{{ url_for('define_decision.decision') }}">Tela Inicial</a>

                <a id="deslog" class="NavButtonLog"
                    href="{{ url_for('main.main') }}">Desconectar</a>

                <div class="responsiveMenuSideBar">

                    <div class="sidenav">
                        <a href="javascript:void(0)" class="closebtn">&times;</a>

                        <a id="sideDeslog" class="sideNavButtonLog"
                            href="{{ url_for('main.main') }}">Desconectar</a>

                        <a id="sideReturn" class="sideNavButtonLog"
                            href="{{ url_for('define_decision.decision') }}">Tela Inicial</a>
                    </div>

                    <div class="menu">
                        <div class="menuBar"></div>
                        <div class="menuBar"></div>
                        <div class="menuBar"></div>
                    </div>

                </div>

            </div>

        </nav>
    </div>

    <div class="espace"></div>

    <div class="createItenStock">
        Para alterar itens do estoque,
        <a href="{{ url_for('stock.list_stock') }}">Clique Aqui!</a>

        <h2>COLOQUE NOS CAMPOS ABAIXO AS INFORMAÇÕES PARA O ESTOQUE</h2>
    </div>

    <div class="formStockCreate">
        <form action="{{ url_for('stock.create_stock') }}" method="POST">

            <div class="inputGroup">
                <label>Nome</label>
                <input type="text" name="nome" required>
            </div>

            <div class="inputGroup">
                <label>Quantidade</label>
                <input type="number" min="0" name="quantidade" required>
            </div>

            <div class="inputGroup extra">
                <label>Unidade de medida</label>
                <select name="medida" required>
                    <option value="KG">KG</option>
                    <option value="LITRO">LITRO</option>
                </select>
            </div>

            <div class="inputGroup extra">
                <input id="submit" type="submit" value="Confirmar">
            </div>

        </form>
    </div>

    <script>
        function embedGlobalScope() {
            function Index() {
                this.start = () => this.headerClick();

                this.headerClick = () => {
                    window.addEventListener('click', e => {
                        if (
                            e.target.classList.contains('header') ||
                            e.target.classList.contains('headerIMG')
                        ) {
                            window.location.href = "{{ url_for('main.main') }}";
                        }
                    })
                };
            }

            new Index().start();
        }

        embedGlobalScope();
    </script>

</body>

</html>
