{% extends "baseLogado.html" %}
{% block title %}SABOR & AMOR - CRIAR ACESSO {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Style/stockEmployeesClients.css') }}">
{% endblock %}

{% block content %}
<div class="createItenStock">
    Para alterar funcionários, <a href="{{ url_for('employees.list_employees') }}">Clique Aqui!</a>

    <h2>COLOQUE NOS CAMPOS ABAIXO AS INFORMAÇÕES PARA O ESTOQUE</h2>
</div>

<div class="formStockCreate">
    <form action="{{ url_for('employees.create_user_employee', id=employees.Funcionario_id) }}" method="POST">

        <div class="inputGroup">
            <label for="nome">Nome</label>
            <input type="text" name="nome" value="{{ employees.Funcionario_nome }}">
        </div>

        <div class="inputGroup">
            <label for="email">email</label>
            <input type="email" name="email" value="{{ employees.Funcionario_email }}">
        </div>

        <div class="inputGroup">
            <label for="senha">senha</label>
            <input type="password" name="senha">
        </div>

        <div class="inputGroup extra">
            <input id="submit" type="submit" value="Confirmar">
        </div>
    </form>
</div>
{% endblock %}


</body>

</html>