{% extends "baseDeslogado.html" %}
{% block title %}SABOR & AMOR - LOGIN{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Style/auth.css') }}">

{% endblock %}

{% block content %}
<div class="LoginInputs">

    <img src="../static/IMAGES/HEADER E LOGIN/restauranteLogin.jpg" alt="">

    <div class="formLogin">
        <form action="{{ url_for('auth.login') }}" method="POST">

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="mensagens">
                {% for categoria, mensagem in messages %}
                <p class="{{ categoria }}">{{ mensagem }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <h1>LOGIN</h1>

            <div class="inputGroup">
                <input type="email" class="inputText" required name="email">
                <label class="labelTranslate">Email</label>
            </div>

            <div class="inputGroup">
                <input type="password" class="inputText" required name="senha">
                <label class="labelTranslate">Senha</label>
                <i class="fas fa-eye" id="togglePassword"></i>
            </div>

            <input class="submit" type="submit" value="Confirmar">

            Não possui uma conta?
            <a href="{{ url_for('auth.createAccount') }}">Clique aqui!</a>
        </form>
    </div>
</div>
{% endblock %}

</body>

</html>