<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Style/outPermission.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/MediaKeyFrame/homeIndex.css') }}">

    <!-- Ícone -->
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='IMAGES/HEADER E LOGIN/restIcone.png') }}"
          type="image/x-icon">

    <!-- JS -->
    <script src="{{ url_for('static', filename='JS/homeIndex.js') }}"></script>

    <title>SABOR & AMOR - PERMISSÃO NEGADA</title>
</head>

<body>
    <div class="container">
        <nav>
            <img class="headerIMG"
                 src="{{ url_for('static', filename='IMAGES/HEADER E LOGIN/rest_logo.png') }}"
                 alt="Logo">

            <div class="header">
                <h2>
                    <pre>
    <span id="RESTAURANTE">RESTAURANTE</span>
        <span id="SEA">Sabor & Amor</span>
                    </pre>
                </h2>
            </div>

            <div class="navbarRestSide">
                <a id="deslog" class="NavButtonLog"
                   href="{{ url_for('main.main') }}">Desconectar</a>

                <div class="responsiveMenuSideBar">
                    <div class="sidenav">
                        <a href="javascript:void(0)" class="closebtn">&times;</a>
                        <a id="sideDeslog" class="sideNavButtonLog"
                           href="{{ url_for('main.main') }}">Desconectar</a>
                    </div>

                    <div class="menu">
                        <div class="menuBar"></div>
                        <div class="menuBar"></div>
                        <div class="menuBar"></div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="espace"></div>

    <div class="outPermission">
        <h1>VOCÊ NÃO TEM PERMISSÃO PARA ACESSAR ESTA ÁREA DO SITE</h1>
        <h1>Confira o endereço digitado ou retorne para a página principal.</h1>
    </div>

    <script>
        function embedGlobalScope() {
            function Index() {
                this.start = () => {
                    this.setupClickNavigation()
                }

                this.setupClickNavigation = () => {
                    window.addEventListener('click', (e) => {
                        if (
                            e.target.classList.contains('header') ||
                            e.target.classList.contains('headerIMG')
                        ) {
                            window.location.href = "{{ url_for('main.main') }}"
                        }
                    });
                }
            }

            const app = new Index();
            app.start();
        }

        embedGlobalScope();
    </script>

</body>

</html>
