{% extends "baseLogado.html" %}
{% block title %}SABOR & AMOR - ATUALIZAR FUNCIONÁRIOS {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Style/stockEmployeesClients.css') }}">
{% endblock %}

{% block content %}

<div class="createItenStock">
    Para alterar funcionários,
    <a href="{{ url_for('employees.list_employees') }}">Clique Aqui!</a>

    <h2>COLOQUE NOS CAMPOS ABAIXO AS INFORMAÇÕES PARA O FUNCIONÁRIO</h2>
</div>

<div class="formStockCreate">
    <form action="{{ url_for('employees.update_employees', id=employees.Funcionario_id) }}" method="POST">

        <div class="inputGroup">
            <label for="nome">Nome</label>
            <input type="text" name="nome" value="{{ employees.Funcionario_nome }}">
        </div>

        <div class="inputGroup">
            <label for="CPF">CPF</label>
            <input type="text" name="CPF" value="{{ employees.Funcionario_CPF }}">
        </div>

        <div class="inputGroup">
            <label for="nascimento">Nascimento</label>
            <input type="date" name="nascimento" value="{{ employees.Funcionario_dt_nasc.strftime('%Y-%m-%d') }}">
        </div>

        <div class="inputGroup">
            <label for="email">E-mail</label>
            <input type="email" name="email" value="{{ employees.Funcionario_email }}">
        </div>

        <div class="inputGroup">
            <label for="telefone">Telefone</label>
            <input type="tel" name="telefone" value="{{ employees.Funcionario_telefone }}">
        </div>

        <div class="inputGroup">
            <label for="salario">Salário</label>
            <input type="number" min="1518" name="salario" value="{{ employees.Funcionario_salario }}">
        </div>

        <div class="inputGroup extra">
            <label for="cargo">Cargo</label>
            <select name="cargo">
                {% for c in cargos %}
                <option value="{{ c.Cargo_id }}" {% if c.Cargo_id==employees.Cargo_id %}selected{% endif %}>
                    {{ c.Cargo_nome }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="inputGroup extra">
            <input id="submit" type="submit" value="Confirmar">
        </div>

    </form>
</div>
{% endblock %}

</body>

</html>