/* ARQUIVO EXCLUSIVAMENTE PARA FAZER RESPONSIVIDADE, MEDIAS E KEYFRAMES */


@media (max-width: 729px) {
    .NavButtonLog {
        display: none;
    }

    .menu {
        display: grid;
    }

    pre {
        color: white;
    }
    
}

@media (max-width: 500px) {
    .about {
        margin-top: 200px;
    }
}