/* ARQUIVO EXCLUSIVAMENTE PARA FAZER RESPONSIVIDADE, MEDIAS E KEYFRAMES */


@media (max-width: 729px) {
    .NavButtonLog {
        display: none;
    }

    .menu {
        display: grid;
    }

    pre {
        color: white;
    }

    #WPP,
    #IG,
    #FB,
    #IFO {
        max-height: 23vh;
        max-width: 23vw;
    }

    footer {
        height: 200px;
    }

}

@media (max-width: 500px) {
    .about {
        margin-top: 200px;
    }

    footer {
        height: 250px;
    }

}

@media (max-width: 480px) {
    
    .inputGroup {
        width: 150px;
    }

    .menu {
        margin-left: -70px;
    }
}

@keyframes boxInfo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}