:root {
    --navbar-bgc: linear-gradient(-90deg, rgba(38, 0, 0, 1) 0%, rgba(77, 33, 33, 1) 29%, rgba(255, 255, 255, 1) 84%);
    --pre-color: linear-gradient(90deg, rgba(64, 23, 23, 1) 0%, rgba(115, 70, 70, 1) 50%, rgba(153, 118, 118, 1) 100%);
    --box-shadow: 3px 20px 20px rgb(34, 32, 32);
    --hover-text-color: grey;
    --animateDiv: boxInfo 2s 1 forwards;

}

body {
    padding: 0%;
    margin: 0%;
}



header img {
    margin-top: 80px;
    width: 100%;
    height: 100%;
    box-shadow: var(--box-shadow);
}

#hh1 {
    user-select: none;
    position: absolute;
    display: flex;
    color: white;
    transform: translate(0%, -700%);
    z-index: 9;
    font-size: 50px;
}

pre #RESTAURANTE {
    font-family: serif;
    font-size: 20px;
}

pre #SEA {
    font-family: "Brush Script MT", cursive, sans-serif;
    font-size: 30px;
}

pre {
    margin-left: 100px;
    margin-top: 40px;
    background: var(--pre-color);
    background-clip: text;
    color: transparent;
}

nav {
    user-select: none;

    background: #260000;
    background: var(--navbar-bgc);
    box-shadow: var(--box-shadow);

    width: 100vw;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    z-index: 3;
}

nav img {
    position: fixed;
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.NavButtonLog {
    border-radius: 7px;
    cursor: pointer;
}

.navbarRestSide {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Login {
    margin-top: 9px;
    position: absolute;
    border: none;
    background: transparent;
    color: white;
    transition: 0.5s;
}

#CreateAccount {
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    background: transparent;
    border: 1px solid white;
    transition: 0.5s;
    padding: 9px;
}

#CreateAccount:hover {
    color: var(--hover-text-color);
    border: 1px solid var(--hover-text-color);
    transform: translateY(-5px);
}

#Login:hover {
    color: var(--hover-text-color);
    transform: translateY(-5px);
}

.BoxInfo {
    opacity: 0;
}

.BoxInfo.visible {
    animation: var(--animateDiv);
}

.info {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.info>div {
    width: 300px;
    height: 300px;
    background-color: rgb(245, 245, 245);
    margin: 20px;
}

.flex {
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgb(68, 30, 30);
    transition: 0.7s;
    padding: 10px;
}

.flex img {
    max-height: 10vh;
    max-width: 10vw;
}

.flex h3 {
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.flex p {
    margin-top: 50px;
    text-align: center;
    color: rgb(70, 70, 70);
}

.flex:hover {
    transform: translateY(-15px);
    box-shadow: 0px 3px 5px;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    margin-top: 100px;
    height: 130px;
    background-color: rgb(43, 43, 43);
    color: white;
    text-align: center;
}

footer p {
    margin-top: 40px;
    line-height: 25px;
}

.SectionTitle {
    margin-top: 130px;
    text-align: center;
    font: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.foodsMenus {
    opacity: 0;
    height: 400px;
    margin-top: 200px;
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(196, 196, 196, 1) 32%, rgba(161, 161, 161, 1) 59%, rgba(255, 255, 255, 1) 100%);
}

.foodsMenus.visible {
    animation: var(--animateDiv);
}

.pratos {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    flex-wrap: wrap;
    overflow: hidden;
}

.pratos>div {
    width: 150px;
    height: 150px;
    margin: 40px;
    position: relative;

    display: flex;
}

.pratos img {
    border-radius: 15px;
    position: relative;
}


.pratos p {
    color: black;
    position: absolute;
    text-align: center;
    top: 100%;
    left: 50%;
    z-index: 9;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 1s;
}

.pratos>div:hover p {
    opacity: 1;
    top: 10%;
}

.pratos>div:hover img {
    filter: blur(5px);
}

.responsiveMenuSideBar {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

}

.menu {
    display: none;
    margin-top: -10px;
    cursor: pointer;
    transition: 0.5s;
}

.menuBar {
    background-color: white;
    width: 45px;
    height: 3px;
    margin-top: 10px;
    margin-right: 30px;
}

.sidenav {
    height: 100vh;
    width: 0px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #481e1e;
    overflow-x: hidden;
    transition: 1s;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: block;
    transition: 0.3s;
    margin-left: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidenav a:hover {
    color: var(--hover-text-color);
}

#sideLogin {
    margin-top: 25px;
}

#sideCreateAccount {
    margin-top: 50px;
}

.about {
    opacity: 0;
    display: grid;
    place-self: center;
    width: 70vw;
}

.about.visible {
    animation: var(--animateDiv);
}

.historyText {
    color: rgb(92, 92, 92);
    line-height: 40px;
    text-align: center;
}

.socialMedias {
    opacity: 0;
}

.socialMedias.visible {
    animation: var(--animateDiv);
}

.socialLinks {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#WPP,
#IG,
#FB,
#IFO {
    max-height: 30vh;
    max-width: 30vw;
}

.address {
    opacity: 0;
}

.address.visible {
    animation: boxInfo 2s 1 forwards;
}

.localAddress {
    text-align: center;
    color: rgb(92, 92, 92);
}