:root {
    --navbar-bgc: linear-gradient(-90deg, rgba(38, 0, 0, 1) 0%, rgba(77, 33, 33, 1) 29%, rgba(255, 255, 255, 1) 84%);
    --pre-color: linear-gradient(90deg, rgba(64, 23, 23, 1) 0%, rgba(115, 70, 70, 1) 50%, rgba(153, 118, 118, 1) 100%);
    --box-shadow: 3px 20px 20px rgb(34, 32, 32);
    --hover-text-color: rgb(169, 169, 169);
}

/* TAGS EM COMUM NAS 4 PAGINAS ANTES DO LOGIN - TAGS IGUAIS */

body {
    padding: 0%;
    margin: 0%;
}

h2 pre {
    margin-top: 40px;
}

pre #RESTAURANTE {
    font-family: serif;
    font-size: 20px;
}

pre #SEA {
    font-family: "Brush Script MT", cursive, sans-serif;
    font-size: 30px;
}

pre {
    margin-left: 100px;
    background: var(--pre-color);
    background-clip: text;
    color: transparent;
}

nav {
    margin-top: -80px;
    user-select: none;
    background: #260000;
    background: var(--navbar-bgc);
    box-shadow: var(--box-shadow);

    width: 100vw;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    z-index: 2;
}

a {
    text-decoration: none;
    color: brown;
}

nav img,
.header {
    cursor: pointer;
}

nav img {
    position: fixed;
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.NavButtonLog {
    border-radius: 7px;
    cursor: pointer;
}

.navbarRestSide {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Login {
    margin-top: 9px;
    position: absolute;
    border: none;
    background: transparent;
    color: white;
    transition: 0.5s;
}

#CreateAccount {
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    background: transparent;
    border: 1px solid white;
    transition: 0.5s;
    padding: 9px;
}

#CreateAccount:hover {
    color: var(--hover-text-color);
    border: 1px solid var(--hover-text-color);
    transform: translateY(-5px);
}

#Login:hover {
    color: var(--hover-text-color);
    transform: translateY(-5px);
}


.menu {
    display: none;
    margin-top: -10px;
    cursor: pointer;
    transition: 0.5s;
}

.menuBar {
    background-color: white;
    width: 45px;
    height: 3px;
    margin-top: 10px;
    margin-right: 30px;
}

.sidenav {
    height: 100vh;
    width: 0px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #481e1e;
    overflow-x: hidden;
    transition: 1s;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: block;
    transition: 0.3s;
    margin-left: 15px;
}

.sidenav a:hover {
    color: var(--hover-text-color);
}

#sideLogin {
    margin-top: 25px;
}

#sideCreateAccount {
    margin-top: 50px;
}


/* TAGS DIFERENTE */
.LoginInputs {
    margin-top: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.LoginInputs img {
    width: 50vw;
    height: calc(100vh - 80px);
    object-fit: cover;
}

.formLogin {
    width: 50%;
    display: flex;
    justify-content: center;
}

form {
    width: 80%;
    max-width: 350px;
    display: grid;
    gap: 10px;
    text-align: center;
}

form h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
    border-radius: 7px;
}

.submit {
    width: 100px;
    height: 30px;

    display: grid;
    place-self: center;

    background: #d9b4b4;
    background: linear-gradient(134deg, rgba(217, 180, 180, 1) 0%, rgba(28, 2, 2, 1) 100%);
    color: white;

    margin-top: 10px;
    margin-bottom: 20px;
}

.inputText {
    display: grid;
    place-self: center;
}

.inputGroup {
    position: relative;
    width: 250px;
    margin: 0 auto;
    margin-top: 15px;
}

.inputGroup input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.labelTranslate {
    position: absolute;
    top: 50%;
    left: 10px;

    transform: translateY(-50%);
    transition: 0.3s ease;
    color: #555;

    pointer-events: none;
    transition: 1s;
}

input:valid+label,
input:focus+label {
    position: absolute;
    transform: translateY(-30px);
    padding: 0px 5px 0px;
    background-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {

    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: black !important;
}

/* FLASK */

.mensagens .erro {
    color: red;
}