:root {
    --navbar-bgc: linear-gradient(-90deg, rgba(38, 0, 0, 1) 0%, rgba(77, 33, 33, 1) 29%, rgba(255, 255, 255, 1) 84%);
    --pre-color: linear-gradient(90deg, rgba(64, 23, 23, 1) 0%, rgba(115, 70, 70, 1) 50%, rgba(153, 118, 118, 1) 100%);
    --box-shadow: 3px 20px 20px rgb(34, 32, 32);
    --hover-text-color: rgb(169, 169, 169);
}

/* TAGS EM COMUM NAS 4 PAGINAS ANTES DO LOGIN - TAGS IGUAIS */

body {
    padding: 0%;
    margin: 0%;
}

h2 pre {
    margin-top: 40px;
}

pre #RESTAURANTE {
    font-family: serif;
    font-size: 20px;
}

pre #SEA {
    font-family: "Brush Script MT", cursive, sans-serif;
    font-size: 30px;
}

pre {
    margin-left: 100px;
    background: var(--pre-color);
    background-clip: text;
    color: transparent;
}

nav {
    margin-top: -150px;
    user-select: none;
    background: #260000;
    background: var(--navbar-bgc);
    box-shadow: var(--box-shadow);

    width: 100vw;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    z-index: 2;
}

a {
    text-decoration: none;
    color: brown;
}

nav img,
.header {
    cursor: pointer;
}

nav img {
    position: fixed;
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

.NavButtonLog {
    border-radius: 7px;
    cursor: pointer;
}

.navbarRestSide {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Login {
    margin-top: 9px;
    position: absolute;
    border: none;
    background: transparent;
    color: white;
    transition: 0.5s;
}

#deslog {
    margin-left: 100px;
    margin-right: 100px;
    color: red;
    background-color: white;
    border: 1px solid white;
    transition: 0.5s;
    padding: 9px;
}

#CreateAccount:hover {
    color: var(--hover-text-color);
    border: 1px solid var(--hover-text-color);
    transform: translateY(-5px);
}

#Login:hover {
    color: var(--hover-text-color);
    transform: translateY(-5px);
}


.menu {
    display: none;
    margin-top: -10px;
    cursor: pointer;
    transition: 0.5s;
}

.menuBar {
    background-color: white;
    width: 45px;
    height: 3px;
    margin-top: 10px;
    margin-right: 30px;
}

.sidenav {
    height: 100vh;
    width: 0px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #481e1e;
    overflow-x: hidden;
    transition: 1s;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: block;
    transition: 0.3s;
    margin-left: 15px;
}

.sidenav a:hover {
    color: var(--hover-text-color);
}

#sideLogin {
    margin-top: 25px;
}

#sideCreateAccount {
    margin-top: 50px;
}

footer {
    margin-top: 100px;
    height: 130px;
    background-color: rgb(43, 43, 43);
    color: white;
    text-align: center;
}

footer p {
    margin-top: 40px;
    line-height: 25px;
}

/* TAGS DIFERENTES */

.foodsMenu {
    margin-top: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

/* CARD DO PRODUTO */
.card {
    width: 90%;
    max-width: 900px;

    background: #fff;
    border-radius: 12px;
    padding: 15px;

    display: flex;
    align-items: center;
    gap: 20px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* IMAGEM */
.card img {
    width: 180px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
}

/* INFO */
.card .info {
    flex: 1;
    /* empurra os botões para a direita */
}

.card .info h1 {
    margin: 0;
    font-size: 22px;
    font-family: serif;
    color: #4b1e1e;
}

.card .info p {
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
}

/* ÁREA DOS BOTÕES */
.card .buy {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* BOTÕES */
.card button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
}

.card .buy .comprar {
    background-color: #4CAF50;
    color: white;
}

.card .buy .comprar:hover {
    background-color: #8e3e3e;
}

.card .buy .remover {
    background-color: #c73333;
    color: white;
}

.card .buy .remover:hover {
    background-color: #a82b2b;
}

.buttonRemove {
    background-color: rgb(255, 51, 51);
    color: white;
}

#orderSummary {
    margin-top: 90px;
    width: 99w;
    padding: 10px;
    display: none; /* aparece apenas quando tiver pedidos */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.orderItem {
    background: #fff7f0;
    border: 2px solid #b63c3c;
    border-radius: 10px;
    padding: 15px;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderItem strong {
    color: #812e2e;
}

.removeOrder {
    background-color: #b93434;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.espace {
    margin-top: 150px;
}

.removeOrder:hover {
    background-color: #922525;
}
