nav {
    margin-top: -80px;
    user-select: none;

    background: #260000;
    background: var(--navbar-bgc);
    box-shadow: var(--box-shadow);

    width: 100vw;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    z-index: 3;
}

.LoginInputs {
    margin-top: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.LoginInputs img {
    width: 50vw;
    height: calc(100vh - 80px);
    object-fit: cover;
}

.formLogin {
    width: 50%;
    display: flex;
    justify-content: center;
}

form {
    width: 80%;
    max-width: 350px;
    display: grid;
    gap: 10px;
    text-align: center;
}

form h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
    border-radius: 7px;
}

.submit {
    width: 100px;
    height: 30px;

    display: grid;
    place-self: center;

    background: #d9b4b4;
    background: linear-gradient(134deg, rgba(217, 180, 180, 1) 0%, rgba(28, 2, 2, 1) 100%);
    color: white;

    margin-top: 10px;
    margin-bottom: 20px;
}

.inputText {
    display: grid;
    place-self: center;
}

.inputGroup {
    position: relative;
    width: 250px;
    margin: 0 auto;
    margin-top: 15px;
}

.inputGroup input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.labelTranslate {
    position: absolute;
    top: 50%;
    left: 10px;

    transform: translateY(-50%);
    transition: 0.3s ease;
    color: #555;

    pointer-events: none;
    transition: 1s;
}

input:valid+label,
input:focus+label {
    position: absolute;
    transform: translateY(-30px);
    padding: 0px 5px 0px;
    background-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {

    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: black !important;
}


.mensagens .erro {
    color: red;
}

a {
    color: brown;
}