.updateStockList {
    display: flex;
    justify-content: center;
}

.createItenStock {
    text-align: center;
    margin-bottom: 25px;
}

.edit {
    color: rgb(0, 145, 19);
}

.delete {
    color: red;
}

th {
    margin: 20px;
}


.createItenStock {
    text-align: center;
    margin-bottom: 55px;
    font-size: 25px;
}

.formStockCreate {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 300px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

label {
    display: grid;
    place-self: center;
}

.inputGroup input,
.inputGroup select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

.extra {
    width: 200px;
    display: grid;
    place-self: center;
}

#submit {
    background: #d9b4b4;
    background: linear-gradient(134deg, rgba(217, 180, 180, 1) 0%, rgba(28, 2, 2, 1) 100%);
    color: white;
}

option {
    text-align: center;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {

    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: black !important;
}

#togglePassword {
    position: relative;
    cursor: pointer;
    color: #888;
    transform: translate(290px, -25px);
}

table {
    text-align: center;
}

th {
    padding: 20px;
    background-color: rgb(195, 195, 195);
}

td {
    padding: 10px;
}
